services:
  {{ app.name }}:
    image: {{ app.image.name }}:{{ app.image.tag }}
    container_name: {{ app.name }}
    restart: always
    mem_limit: 2g
    cpus: 1
    ports:
      - "{{ app.system_server.port }}:{{ app.system_server.port }}"
    volumes:
      - /opt/apps/{{ app.name }}/configs/scheduler.yaml:/scheduler/configs/scheduler.yaml:ro
      - /var/log/{{ app.name }}:/{{ app.name }}/log
    command: ./scheduler --config /scheduler/configs/scheduler.yaml
    networks:
      - {{ app.name }}-net
      - kafka-net

networks:
  {{ app.name }}-net:
    external: true
  kafka-net:
    external: true
