services:
  {{ app.name }}:
    image: {{ app.image.name }}:{{ app.image.tag }}
    container_name: {{ app.name }}
    restart: always
    mem_limit: 1g
    volumes:
      - /opt/apps/{{ app.name }}/configs:/vixarapi/configs
      - /opt/apps/{{ app.name }}/log:/vixarapi/log
      - /var/log/{{ app.name }}:/{{ app.name }}/log
    command: ./vixarapi --config configs/vixarapi.yaml
    networks:
      - {{ app.name }}-net
      - postgres-net
      - redis-net
      - kafka-net

networks:
  {{ app.name }}-net:
    external: true
  postgres-net:
    external: true
  redis-net:
    external: true
  kafka-net:
    external: true
