app:
  http:
    port: "{{ app.http.port }}"
  logger:
    loglvl: info
    mode: production
    encoding: json
  s2s:
    header: {{ app.s2s.header }}
    clients:
  {% for client in app.s2s.clients %}
    - name: "{{ client.name }}"
      token: "{{ client.token }}"
  {% endfor %}
