services:
  {{ app.name }}:
    image: {{ app.image.name }}:{{ app.image.tag }}
    container_name: {{ app.name }}
    restart: always
    mem_limit: 512m
    networks:
      - {{ app.name }}-net

networks:
  {{ app.name }}-net:
    external: true
