app:
  clients:
    llm:
      token: {{ app.clients.llm.token }}
      url: {{ app.clients.llm.url }}
      timeout: {{ app.clients.llm.timeout }}
  processor:
    workers_count: {{ app.processor.workers_count }}
    max_retries: {{ app.processor.max_retries }}
    retry_delay: {{ app.processor.retry_delay }}
  postgres:
    host: {{ app.postgres.host }}
    port: {{ app.postgres.port }}
    user: {{ app.postgres.user }}
    password: {{ app.postgres.password }}
    dbname: {{ app.postgres.dbname }}
    sslmode: {{ app.postgres.sslmode }}
  logger:
    loglvl: info
    mode: production
    encoding: json
  smtp:
    host: {{ app.smtp.host }}
    port: "{{ app.smtp.port }}"
    username: {{ app.smtp.username }}
    password: {{ app.smtp.password }}

kafka:
  group_id: "{{ app.kafka.group_id }}"
  brokers:
    - {{ app.kafka.hostname }}:{{ app.kafka.port }}
  topics:
    scraper_data: "{{ app.kafka.topics.scraper_data }}"
    notifications: "{{ app.kafka.topics.notifications }}"
